<div class="wrapper">
  <app-toolbar>
    <a mat-raised-button color="accent" [routerLink]="'/organization/' + params['org'] + '/users'">Users ></a>
  </app-toolbar>
  <div class="data-container">
    <a mat-fab [routerLink]="'/organization/' + params['org'] + '/form'" color="accent" class="fab">
      <mat-icon>add</mat-icon>
    </a>
    <table mat-table [dataSource]="forms" class="mat-elevation-z8 form-table">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="'/organization/' + params['org'] + '/form/' + element['id']">{{element['humanReadableName']}}</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
