.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
}
.data-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.form-table {
  min-width: 60%;
}

.fab {
  position: fixed;
  bottom: 64px;
  right: 64px;
}
