<div class="container">
  <app-toolbar>
    <a mat-icon-button [routerLink]="'/organization/' + params['org'] + '/user/'" matTooltip="Create a new user">
      <mat-icon>add</mat-icon>
    </a>
    <a mat-raised-button color="accent" [routerLink]="'/organization/' + params['org'] + '/'">Forms ></a>
  </app-toolbar>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 data-table">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.displayName || 'N/A'}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email.split('--')[1] || 'N/A'}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="isAdmin">
      <th mat-header-cell *matHeaderCellDef> Administrator </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.isAdmin" disabled></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="uid">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <a mat-icon-button [routerLink]="'/organization/' + params['org'] + '/user/' + element.uid"><mat-icon>edit</mat-icon></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="example-element-row"></tr>
  </table>

</div>
