.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav-container {
  flex: 1;
}

.form-builder-area {
  margin: 32px;
  min-height: 200px;
}

mat-sidenav {
  padding: 16px;
}

.tags-list {
  box-sizing: border-box;
  width: 90%;
}
