<div class="wrapper">
  <app-toolbar>
    <a mat-raised-button color="accent" [routerLink]="'/organization/' + params['org'] + '/'">Forms ></a>
    <button mat-icon-button (click)="saveToFirebase()">
      <mat-icon>save</mat-icon>
    </button>
    <mat-form-field>
      <mat-select [(ngModel)]="model['type']" (valueChange)="switchMode()">
        <mat-option value="form">
          Form
        </mat-option>

        <mat-option value="poll">
          Poll
        </mat-option>
      </mat-select>
    </mat-form-field>
  </app-toolbar>

  <mat-sidenav-container>
    <mat-sidenav opened mode="side">
      <h4>Customize form</h4>
      <label for="editComponentBackground">Background Color</label>
      <input class="colorpick" type="color" name="bgColor" id="editComponentBackground"
             [(ngModel)]="model.theme.bgColor">
      <label for="editComponentText">Text Color</label>
      <input class="colorpick" type="color" name="textColor" id="editComponentText" [(ngModel)]="model.theme.textColor">
      <mat-divider></mat-divider>
      <h4>Select Fields</h4>
      <p>Build your form by dragging and dropping these fields into the form area.</p>
      <!--a draggable element-->
      <div class="fields" *ngFor="let item of (model['type'] == 'form' ? fieldModels : pollFields)">
        <div class="pointer" [dndDraggable]="item"
             [dndEffectAllowed]="'copy'"
             (dndEnd)="onDragEnd($event)">
          <i [ngClass]="item.icon" class="fa pull-left"></i>
          <h5>{{item.label}}</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <app-tag-autocomplete [(tags)]="model['tags']" [(deletedTags)]="deletedTags" [(newTags)]="newTags" [org]="params['org']"></app-tag-autocomplete>
    </mat-sidenav>
    <mat-sidenav-content *ngIf="model">
      <div class="row">
        <div
          style="margin-bottom: 0px !important; padding: 30px 60px 5px 60px;"
          [style.backgroundColor]="model.theme.bgColor"
          [style.color]="model.theme.textColor">
          <mat-form-field>
            <input matInput type="text" placeholder="Form name" [(ngModel)]="model.name"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Description..." [(ngModel)]="model.description"/>
          </mat-form-field>

          <mat-form-field *ngFor="let fieldName of metadataFields">
            <input matInput [type]="util.getType(model['customFields'][fieldName])" [(ngModel)]="model['customFields'][fieldName]" [placeholder]="fieldName">
          </mat-form-field>
        </div>

        <!--a dropzone-->
        <!--to allow dropping content that is not [dndDraggable] set dndAllowExternal to true-->
        <mat-card dndDropzone
                  (dndDragover)="onDragover($event)"
                  (dndDrop)="onDrop($event,model.attributes)" class="dndDropArea form-builder-area"
                  [style.backgroundColor]="model.theme.bgColor"
                  [style.color]="model.theme.textColor">

          <app-form-field
            *ngFor="let item of model.attributes; let i = index;"
            (dndStart)="onDragStart($event)"
            (dndCanceled)="onDragCanceled($event)"
            (dndMoved)="onDragged(item, model.attributes, 'move')"
            [dndEffectAllowed]="'all'"
            [dndDraggable]="item"
            [item]="item"
            [index]="i"
            (remove)="removeField(i)">
            <mat-icon class="dndHandle" dndHandle>more_vert</mat-icon>
          </app-form-field>


          <!--optional placeholder element for dropzone-->
          <!--will be removed from DOM on init-->
          <div class="dndPlaceholder" dndPlaceholderRef>
          </div>
        </mat-card>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
