<div class="login-container">
  <mat-form-field>
    <input matInput type="text" placeholder="Username" [(ngModel)]="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="password">
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="register()" [disabled]="!email || !password" *ngIf="!(authService.user | async)">
    Register
  </button>
  <button mat-raised-button color="primary" (click)="login()" [disabled]="!email || !password" *ngIf="!(authService.user | async)">
    Login
  </button>
  <button mat-raised-button color="warn" (click)="logout()" *ngIf="authService.user | async">
    Logout
  </button>
</div>
