<mat-form-field class="tags-list">
  <mat-chip-list #chipList aria-label="Tag selection">
    <mat-chip *ngFor="let tag of _tags" [selectable]="true"
              [removable]="true" (removed)="removeTag(tag)">
      {{tag}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input #tagsInput placeholder="Tags"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="false"
           (matChipInputTokenEnd)="addTag($event)"
           [matAutocomplete]="auto"
           (keyup)="filterTags()"
           [(ngModel)]="newTag">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="tagAutocomplete($event)">
      <mat-option *ngFor="let option of _filteredOptions" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-chip-list>
</mat-form-field>
