.toolbar-container {
  display: flex;
  flex-flow: row nowrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.toolbar-actions {
  flex: 1;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: center;
}

.toolbar-actions > * {
  margin-right: 32px;
}
