<mat-card class="container">
  <div class="main-section">
    <mat-list>
      <mat-list-item *ngFor="let tag of tags">
        <p (click)="expandedTag = tag">{{ tag['name'] }}</p>
      </mat-list-item>
    </mat-list>
  </div>

  <div *ngIf="expandedTag !== null" class="main-section">
    <div *ngFor="let header of util.getKeys(expandedTag['data'])">
      <mat-list>
        <p matSubheader>{{header}}</p>
        <mat-list-item *ngFor="let item of expandedTag['data'][header]">{{ item }}</mat-list-item>
      </mat-list>
    </div>
  </div>

  <div *ngIf="expandedTag !== null" class="main-section">
    <div *ngFor="let header of util.getKeys(expandedTag['data'])">
      <mat-list>
        <p matSubheader>{{header}}</p>
        <mat-list-item *ngFor="let item of expandedTag['data'][header]">{{ item }}</mat-list-item>
      </mat-list>
    </div>
  </div>
</mat-card>
