<app-toolbar>
  <button mat-raised-button color="accent" type="button" (click)="saveUsers()">Save</button>
  <a mat-raised-button color="accent" [routerLink]="'/organization/' + params['org'] + '/users'">Users ></a>
</app-toolbar>
<div class="wrapper">
  <div *ngFor="let key of util.getKeys(user)" [ngSwitch]="util.getType(user[key])" [class.list-field]="util.getType(user[key]) === 'array' && key !== 'tags'">
    <mat-form-field *ngSwitchCase="'string'">
      <input matInput type="text" [(ngModel)]="user[key]" [disabled]="['uid', 'id'].includes(key)" [placeholder]="key">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'number'">
      <input matInput type="number" [(ngModel)]="user[key]" [disabled]="['uid', 'id'].includes(key)"
             [placeholder]="key">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'null'">
      <input matInput type="text" [(ngModel)]="user[key]" [disabled]="['uid', 'id'].includes(key)" [placeholder]="key">
    </mat-form-field>

    <div *ngSwitchCase="'boolean'">
      <mat-slide-toggle [(ngModel)]="user[key]" [matTooltip]="key"></mat-slide-toggle>
    </div>
    <div *ngSwitchCase="'array'">
      <mat-list class="mat-elevation-z2" *ngIf="key !== 'tags'">
        <h3 mat-subheader>{{key}}</h3>
        <div *ngIf="user[key] !== null">
          <mat-list-item *ngFor="let item of user[key]">
            <a routerLink="/organization/{{params.org}}/form/{{item['reference']['id']}}">{{item['humanReadableName']}}</a>
          </mat-list-item>
        </div>
      </mat-list>
    </div>
  </div>
  <app-tag-autocomplete [(tags)]="user['tags']" [(deletedTags)]="deletedTags" [(newTags)]="newTags" [org]="params['org']"></app-tag-autocomplete>
</div>
