<div class="form-field-container">
  <div class="field-controls-container">
    <ng-content></ng-content>
    <div class="controls">
      <p *ngIf="item.type !== 'button'">{{item.label}}<label *ngIf="item.required" class="text-danger">*</label></p>

      <!-- Many material fields must be contained within a mat-form-field element. -->
      <mat-form-field
        *ngIf="['text', 'date', 'email', 'number', 'phone', 'datetime-local', 'textarea'].includes(item.type)">
        <input matInput *ngIf="item.type=='text'" type="text" [id]="item.name"
               [placeholder]="item.placeholder">

        <input matInput *ngIf="item.type=='phone'" type="text" [id]="item.name"
               [placeholder]="item.placeholder">

        <input matInput *ngIf="item.type=='date'" type="date" class="form-control" [id]="item.name"
               [placeholder]="item.placeholder">

        <input matInput *ngIf="item.type=='email'" type="email" [id]="item.name" [placeholder]="item.placeholder">

        <input matInput *ngIf="item.type=='number'" type="number" [id]="item.name" [placeholder]="item.placeholder"
               min="{{item.min}}" max="{{item.max}}">

        <input matInput *ngIf="item.type=='datetime-local'" type="datetime-local" [id]="item.name"
               [placeholder]="item.placeholder">

        <textarea matInput *ngIf="item.type=='textarea'" [id]="item.name" [placeholder]="item.placeholder"></textarea>
      </mat-form-field>

      <!-- Paragraph holds text that the person using the form cannot edit -->
      <p *ngIf="item.type=='paragraph'" contenteditable [(ngModel)]="item.placeholder"></p>

      <div *ngIf="item.type=='file'">
        <input type="file" [id]="item.name" [placeholder]="item.placeholder">
        <small class="form-text text-danger">(File can't be uploaded right now)</small>
      </div>

      <mat-select *ngIf="item.type=='autocomplete'" [id]="item.name">
        <mat-option *ngFor="let v of item.values" [value]="v.value">{{v.label}}</mat-option>
      </mat-select>

      <div *ngIf="item.type=='checkbox'">
        <div *ngFor="let v of item.values">
          <label class="cust-check-bx">
            <mat-checkbox [value]="v.value" name="{{item.name}}"
                          (click)="toggleValue(v)"> {{v.label}}</mat-checkbox>
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div *ngIf="item.type=='radio'">
        <mat-radio-group *ngFor="let v of item.values">
          <label class="cust-check-bx">
            <mat-radio-button [value]="v.value" name="{{item.name}}"> {{v.label}}</mat-radio-button>
            <span class="checkmark"></span>
          </label>
        </mat-radio-group>
      </div>

      <button mat-raised-button *ngIf="item.type=='button'" color="primary" type="{{item.subtype}}" (click)="submit()"
              [id]="item.name">{{item.label}}</button>
    </div>

    <!-- The following code sets up the toggleable options section. -->
    <div>
      <button mat-icon-button *ngIf="item.toggle"  type="button"><mat-icon (click)="item.toggle=false">keyboard_arrow_up</mat-icon></button>
      <button mat-icon-button *ngIf="!item.toggle" type="button"><mat-icon (click)="item.toggle=true">keyboard_arrow_down</mat-icon></button>
      <button mat-icon-button type="button"><mat-icon color="warn" (click)="remove.emit()">delete</mat-icon></button>
    </div>
  </div>

  <div *ngIf="item.toggle" class="toggle-Wrapper">
    <div class="form-group">
      <label>Required</label>
      <mat-slide-toggle [(ngModel)]="item.required"></mat-slide-toggle>
      <span class="pull-right ucfirst">{{item.type}}</span>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="text" placeholder="Label" [(ngModel)]="item.label"/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Name" type="text" [(ngModel)]="item.name"/>
      </mat-form-field>
    </div>
    <div class="form-group"
         *ngIf="item.type !=='radio' && item.type !=='checkbox' && item.type !== 'autocomplete'">
      <mat-form-field>
        <input matInput placeholder="Placeholder" type="text" [(ngModel)]="item.placeholder"/>
      </mat-form-field>
    </div>
    <div *ngIf="item.type !=='radio' && item.type !=='checkbox' && item.type !== 'autocomplete'">
      <mat-form-field>
        <input matInput placeholder="Regex" class="form-control" type="text" [(ngModel)]="item.regex"/>
      </mat-form-field>
    </div>
    <div *ngIf="item.regex" class="form-group">
      <mat-form-field>
        <input matInput placeholder="Error text" class="form-control" type="text"
               [(ngModel)]="item.errorText"/>
      </mat-form-field>
    </div>

    <!-- number -->
    <div *ngIf="item.type=='number'" class="row">
      <mat-form-field>
        <input matInput placeholder="Min" type="number" [(ngModel)]="item.min"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Max" type="text" [(ngModel)]="item.max"/>
      </mat-form-field>
    </div>

    <!-- radio || checkbox || autocomplete -->
    <div *ngIf="item.type=='radio'|| item.type=='checkbox' || item.type=='autocomplete'">
      <label>Options</label>
      <div *ngFor="let option of item.values; let valueIndex=index;" class="row">
        <mat-form-field>
          <input matInput placeholder="Option" type="text" [(ngModel)]="option.label"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Value" type="text" [(ngModel)]="option.value"/>
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="item.values.splice(valueIndex,1)">Remove</button>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Option" type="text" [(ngModel)]="value.label"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Value" type="text" [(ngModel)]="value.value"/>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addValue()">Add</button>
      </div>
    </div>
  </div>
</div>
