.form-field-container {
  margin: 24px 0;
}

.field-controls-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.controls {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  padding: 0 16px;
}

.controls p {
  margin: 0;
}
